/* Styles shared between all pages */

html, body{
    margin: 0; padding: 0;
}

body{
    background-color: #4f4f4f;
}


h2{
    text-align: center;
    margin-left: 10px;
    padding-top: 40px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

p{
    margin-left: 10px;
    color: white;
    font-family: 'Khula', sans-serif;
}

h3{
    text-align: center;
    color: white;
    font-size: 2em;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
}

h4{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
    font-size: 1.4vw;
}

/* Call to action/text highlight color */
.alt{
    color: #94d149
}

/* Navigation bar */
#navbar{
    height: 50px;
    background-color: rgba(90, 91, 91);
    background-color: rgba(90, 91, 91, 0.4);
    margin-top: 0%;
}
#nav{
    float: right; 
    list-style-type: none;
}

.navLink{
    display: inline;
    padding-right: 30px;
    font-family: 'Khula', sans-serif;
}

a{
    text-decoration: none;
    color: white;
    transition: 1s;
}

a:hover{
    color: #94d149;
    transition: 1s;
}

/* Landing page */
#landing{
    height: 620px;
    margin-bottom: 0px;
    margin-top: 0;
}

/* Landing page title only */
#landing h1{
    color: white;
    padding-top: 12%;
    font-family: 'Work Sans', sans-serif;
    font-size: 5em;
    font-size: 5vw;
}

#titleText{
    text-align: center;
    background-color: rgb(90, 91, 91);
    background-color: rgba(90, 91, 91, 0.4);
    margin-top: 10%;
    margin-left: 32%;
    height: 55%;
    width: 35%;
}

/* Video */
#videoContain{
    position: absolute;
    background: #000;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -99;
}
#videoBack{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
iframe{
  position: absolute;
  top: -140px;
  left: 0;
  width: 100%;
  height: 150%;
  pointer-events: none;
}

/* About */
#about{
    text-align: center;
    height: auto;
    padding-bottom: 100px;
    margin: 0px;
    background-color: #7c7c7c;
    padding-top: 10px;
}

#description{
    width: 40%;
    height: auto;
    display: block; 
    margin-left: 30%;
    padding: 15px;
    background-color: rgb(73, 73, 73);
    background-color: rgba(73, 73, 73, 0.3);
}

#staffAbout{
    margin-top: 50px;
    margin-bottom: 60px;
    height: 400px;
    width: 100%;
    display: block;
    
}

/* Staff polaroids and hover descriptions */

#staff1Box{
    width: 16.5%;
    height: auto;
    background-color: white;
    margin-left: 24%;
    padding: 15px;
    display: inline;
    float: left;
    position: relative;
}

#staff2Box{
    width: 16.5%;
    height: auto;
    background-color: white;
    margin-left: 15%;
    padding: 15px;
    display: inline;
    float: left;
    position: relative;
}

#staff1Box:hover .staff{
    opacity: 0.4;
}

#staff2Box:hover .staff{
    opacity: 0.3;
}

#staff1Box:hover .scrollBox{
    opacity: 1;    
}


#staff2Box:hover .scrollBox{
    opacity: 1;
}

#staff1{
    height: auto;
    width: 100%;
}

#staff2{
    height: auto;
    width: 100%;
}

.scrollBox{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.scrollText{
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.5);
    color: white;
    font-size: 1em;
    font-size: 1vw;
    font-family: 'Khula', sans-serif;
    padding: 10px;
}

.staff{
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

h5 /* staff names */{
    margin-top: 40px;
    margin-bottom: 0;
    color: black;
    font-size: 1.7em;
    font-size: 1.7vw;
}

#Ned{
    font-family: 'Gloria Hallelujah', cursive;
}

#Ted{
    font-family: 'Rock Salt', cursive;
}

/* Services, including app description and Play/App store links */
#services{
    height: auto;
    background-color: #4f4f4f;
    text-align: center;
    margin: 0px;
    padding-bottom: 60px;
}

#servicesBox{
    height: auto;
    width: 30%;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.3);
    display: block; 
    margin-left: 33.7%;
    padding: 20px;
    margin-bottom: 60px;
}

/* Play and app store buttons */
button{
    margin: 0 30px 30px 30px;
    text-align: center;
    border: none;
    padding: 8px 25px 8px 25px;
}

button a{
    color: black;
    font-family: 'Roboto', sans-serif;
}


/* Universal form settings */
.contactForm{
    height: auto;
    text-align: center;
    padding-bottom: 60px;
    margin-top: 0;
    padding-top: 10px;
    color: white;
    text-align: center;
    font-family: 'Khula', sans-serif;
}

input[type=text]{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    font-family: 'Khula', sans-serif;
}

input[type=text]:focus{
    border: 2px solid #81b73e;
}

input[type=reset]{
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.3);
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'Khula', sans-serif;

}

input[type=submit]{
    background-color: #81b73e;
    border: none;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'Khula', sans-serif;
}

textarea{
    width: 40%;
    height: 150px;
    font-family: 'Khula', sans-serif;
}

textarea:focus{
    border: 2px solid #81b73e;
}

/* "Contact us" specific */
#contact{
    background-color: #7c7c7c;
}


/* Sponsors page */

/* Header pic and title */
#sponsorPic{
    width: 100%;
    margin-top: -100px;
    padding-top: 0;
    border-top: 0;
    height: 65vh;
    background-image: url("https://i.ytimg.com/vi/Eo6SMws4MDY/maxresdefault.jpg");
    background-size: cover;
}

#sponsors h1{
    text-align: center;
    color: white;
    padding-top: 10vh;
    font-family: 'Work Sans', sans-serif;
    font-size: 3em;
    font-size: 3vw;
}

#sponsorTitle{
    margin-top: -250px;
    padding-top: 0;
}


/* Introductory card */
#sponsorBlock{
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 2%;
    height: 15vh;
    background-color: rgb(33, 33, 33);
    background-color: rgba(33, 33, 33, 0.3);
    margin-top: 170px;
    border-radius: 10px;
}

#sponsorBlock h3{
    text-align: center;
    padding-top: 4vh;
    color: #94d149;
    font-family: 'Khula', sans-serif;
    font-size: 2em;
    font-size: 2vw;
    font-weight: 200;
}

/* Logo div (note: if div is shorter than any one logo's lowest hover point at its max size, the page will grow/shrink each hover cycle) */
#sponsorLogos{
    width: 100%;
    height: 47vh;
    position: relative;
}

/* Individual logos */
.sponsorLogo{
    width: 10%;
    border: solid 5px #94d149;
    border-radius: 50%;
    transition: 1s;
    position: absolute;
}

.sponsorLogo:hover{
    width: 15%;
    transition: 1s;
}

#logo1{
    margin-left: 10%;
    -webkit-animation: orb-hover-up-and-down 2s alternate ease-in-out infinite;
}

#logo2{
    margin-left: 30%;
    margin-top: 5%;
      -webkit-animation: orb-hover-up-and-down 1.5s alternate ease-in-out infinite;
}

#logo3{
    margin-left: 55%;
    margin-top: 1%;
    -webkit-animation: orb-hover-up-and-down 2.1s alternate ease-in-out infinite;
}

#logo4{
    margin-left: 80%;
    margin-top: 3%;
    -webkit-animation: orb-hover-up-and-down 2.5s alternate ease-in-out infinite;
}

/* Floating orb function */
@-webkit-keyframes orb-hover-up-and-down {
  0%   { top: +10%; }
  100% { top: +15%; }
}

/* Sponsor us div */
#sponsorUs{
    background-color: rgb(124, 124, 124);
    background-color: rgba(124, 124, 124, 0.5);
    height: 90vh;
}

#sponsorUs h3{
    padding: 3%;
    margin-bottom: 0;
    padding-bottom: 0;
}

#sponsorUs h6{
    text-align: center;
    color: #94d149;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    font-size: 1.5vw;
    padding: 0;
    margin: 2%;
}